<div class="sidebar" style="margin-left: 100px; margin-top: 50px;">
    <h1 style="font-size: 1.5rem;padding-bottom: 20px;">{{title}}</h1>
    <div class="btn-group-vertical">
        <button id="rgister_user" class="btn btn-secondary" (click)="registerUser()">Register User</button><br>
        <button id="get_quote" class="btn btn-secondary" (click)="getQuote()">Get Quote</button><br>
        <button id="view_quote" class="btn btn-secondary" (click)="viewQuote()">View Quote</button><br>
        <button id="view_policy" class="btn btn-secondary" (click)="viewPolicy()">View Policies</button>
    </div>
</div>